body{
    background: url("stadium-181457_1920.jpg") center / cover no-repeat fixed;

}

.hero{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero h1{
    color: #0000ff;
    font-size: clamor(2.5rem, 3.5vw);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.search-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: clamp(1.2rem, 2vw);
    color: #fff;
    background-color: #0000ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
