<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Guess the Player{% endblock %}</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
</head>
<body>
    {% with msgs = get_flashed_messages(with_categories=true) %}
      {% if msgs %}
        <ul class="flashes">
          {% for cat, msg in msgs %}
            <li class="flash {{ cat }}" style="color: red;">{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <main>
      {% block content %}{% endblock %}
    </main>
</body>
</html>
