<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.12" defer> </script>
</head>
    <body>
    <header class="hero">
        <h1>Guess the player</h1>
    </header>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
        <input type="search"
               name="full_name"
               class="search-bar"
               placeholder="Guess the player..."
               hx-get="api/search"
               hx-trigger="input changed delay:500ms"
               hx-target="#playerList"
               list ="playerList"
               id="playerSearch"
               aria-label="Search for a player"
               autocomplete="off"
               style="width: 400px; height: 40px; font-size: 16px;"/>
        <datalist id="playerList"></datalist>
    </div>
    </body>
</html> 